.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 20px;
}

.chat-item {
  border-bottom: 0px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.chat-item:hover {
  background-color: #f0f4f8;
}

.chat-item.highlighted {
  background-color: #f0f8ff;
  color: #007bff;
  font-weight: bold;
}

.filter-icon {
  font-size: 27px;
  cursor: pointer;
  transition: font-weight 0.2s, transform 0.2s;
}

.filter-icon:hover {
  font-weight: bold;
  transform: scale(1.1);
}

.filter-icon {
  margin-right: 3px;
}

.chat-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.right-button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  color: inherit;
}

.right-button:hover {
  font-weight: bold;
  transform: scale(1.1);
}
