<nb-card>
  <nb-card-header>
    <div class="header">
      <span class="header-title">Chats</span>
      <div class="option-icons">
        <nb-icon
          class="filter-icon"
          icon="funnel-outline"
          title="Filter"
        ></nb-icon>
      </div>
    </div>
  </nb-card-header>
  <nb-list>
    <nb-list-item
      class="chat-item"
      [ngClass]="{ highlighted: selectedChat === chat }"
      *ngFor="let chat of chats"
      (click)="onClick(chat)"
    >
      <div class="chat-content">
        <nb-user [name]="chat.name" [showName]="true">{{ chat.name }}</nb-user>

        <button nbButton class="right-button">
          <nb-icon
            icon="trash-2-outline"
            (click)="deleteChat(chat); $event.stopPropagation()"
          ></nb-icon>
        </button>
      </div>
    </nb-list-item>
  </nb-list>
</nb-card>
