<nb-card>
  <nb-card-header>
    <div class="header">
      <span class="header-title">Chats</span>
      <div class="option-icons">
        <nb-icon
          class="filter-icon"
          icon="funnel-outline"
          title="Filter"
        ></nb-icon>
      </div>
    </div>
  </nb-card-header>
  <nb-list>
    <nb-list-item
      class="chat-item"
      [ngClass]="{ highlighted: selectedChat === chat }"
      *ngFor="let chat of chats"
      (click)="onClick(chat)"
    >
      <nb-user [name]="chat.chatName" [showName]="true">{{
        chat.chatName
      }}</nb-user>
    </nb-list-item>
  </nb-list>
</nb-card>
